<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<center><br/><br/><br/><br/><br/><br/><br/>
<form action="/fdfs/uploadFdfs" method="post" enctype="multipart/form-data">
    <input name="fdfsHttp" type="radio" value="192.168.2.2" checked>2.2</input><br/><br/>
    <!--<input name="fdfsHttp" type="radio" value="192.168.2.3">2.3</input><br/><br/>
    <input name="fdfsHttp" type="radio" value="192.168.2.4">2.4</input><br/><br/>-->
    <input type="file" name="file"/>
    <input type="submit">
</form>
</center>
</body>
</html>